/*--------head------------*/
.header-home{
  position: relative;
  z-index: 1;
}

.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  /* background-color: rgba(255, 255, 255, 0.2); */
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #1eb2a6;
}
.start {
  display: none;
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    background-color: #1eb2a6;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: fixed;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #000000;
  }

  .fa-times{
    color: #000000;
  }
}


/* For small devices */
@media screen and (min-width: 390px) and (max-width: 420px) {
  
 

  .toggle{
    position: fixed;
    top:-15px;
  }

  .social {
    display: none;
  }

  .logo >span{
    /* color: rgba(65, 68, 245, 0.801);
    font-weight: bold; */
  }
  #heading >h1{
    font-size: 01.3rem;
  }

}